<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/static/css/corporate/team-member.css">
</head>
<body class="mtcSubInfo">
    <div id="wrap">
        <div class="sideTrue" id="container">
            <!-- 어사이드 -->
            <div id="sideNav" class="devCorpLogin">
                <!-- 기업 정보 관리 메뉴 -->
                <div class="nav">
                    <ul>
                        <!-- server, javascript: 해당 페이지일 때, on 클래스 추가 -->
                        <li class="devCorpInfoDetail">
                            <a href="">기업정보관리</a>
                        </li>
                        <li class="devCorpInfoDetail on">
                            <a href="">회원정보관리</a>
                        </li>
                        <li class="devCorpInfoDetail">
                            <a href="">로그인관리 </a>
                        </li>
                        <li class="devCorpInfoDetail">
                            <a href="">정보 수신 설정</a>
                        </li>
                        <li class="devCorpInfoDetail">
                            <a href="">2단계 인증 관리</a>
                        </li>
                        <li class="devCorpInfoDetail">
                            <a href="">2단계 인증 내역</a>
                        </li>
                        <li class="devCorpInfoDetail">
                            <a href="">기업인증</a>
                        </li>
                        <li>
                            <a href="">전문채용관 신청</a>
                        </li>
                        <li>
                            <a href="">슈퍼기업관 신청</a>
                        </li>
                    </ul>
                </div>

                <!-- 광고 -->
                <div class="adLeftBx">
                    <div class="ad-container">
                        <a href="javascript:;" class="imgAdBnnr">
                            <img src="https://ads.jobkorea.co.kr/ads/pc/images/202512/54af1f5a-b9e0-45bb-8f00-cb06f2d01441.png">
                            <!-- onerror -->
                        </a>
                    </div>
                </div>
                <div class="adLeftBx">
                    <a href="">
                        <img src="https://i.jobkorea.kr/content/images/banner/lnb_certify_banner.png">
                    </a>
                </div>

            </div>

            <!-- 팀원관리 -->
            <div id="content">
                <div class="infoContent teamContent">
                    <!-- title -->
                    <div class="topHdWrap">
                        <h2 class="info_hd_2">팀원 관리</h2>
                        <ul class="ask_txtBox">
                            <li>
                                <p>팀원을 초대하여 기업 계정을 공동으로 관리할 수 있습니다.</p>
                            </li>
                            <li>
                                <p>초대된 팀원에 한해 관리 권한이 부여됩니다.</p>
                            </li>
                        </ul>
                        <button type="button" class="memberDelButton" id="teamMemberDelBtn"><span>팀원 초대</span></button>
                    </div>

                    <!-- content -->
                    <div class="teamWrap management">
                        <div class="schListsWrap blockLists">
                            <div class="mtcSchListTb">
                                <table>
                                    <colgroup>
                                        <col width="200">
                                        <col width="100">
                                        <col width="250">
                                        <col width="250">
                                        <col width="160">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <div>초대 일시</div>
                                            </th>
                                            <th scope="col">
                                                <div>이름</div>
                                            </th>
                                            <th scope="col">
                                                <div>휴대전화번호</div>
                                            </th>
                                            <th scope="col">
                                                <div>이메일</div>
                                            </th>
                                            <th scope="col">
                                                <div>관리</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- server: 초대된 팀원이 있을 때 동적으로 생성 -->
                                        <!-- server: 최대 5명정도씩 불러오도록 -->
                                        <tr>
                                            <td>
                                                <span class="date">2026/01/27 (화) 11:03</span>
                                            </td>
                                            <td>
                                                <span class="name">바○보</span>
                                            </td>
                                            <td>
                                                <span class="phone">
                                                    010-1234-****
                                                </span>
                                            </td>
                                            <td>
                                                <span class="email">
                                                    test@gmail.com
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <button type="button" class="memberDelButton" id="teamMemberDelBtn"><span>삭제</span></button>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div class="bottom_area">
                            <div class="tplPagination">
                                <ul>
                                    <!-- server: 페이지 개수에 따라 동적으로 생성 -->
                                    <li>
                                        <a class="now">1</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="team_info">
                            <strong>2단계 인증이란?</strong>
                            <ul class="infoList">
                                <li>
                                    <p>잡코리아 · 알바몬의 기업/서치펌 회원 계정 도용 시 인재 또는 지원자의 개인 정보 보호 등을 목적으로 개인 정보가 포함된 페이지 접근 시 2단계 인증이 적용됩니다.</p>
                                </li>
                                <li>
                                    <p>인증번호 입력 시 2단계 인증이 완료되며 <span>3개월간 유효</span>합니다.</p></li>
                                <li>
                                    <p><span>새 기기나 브라우저</span>에서 개인 정보가 포함된 페이지 접근 시 <span>2단계 인증이 추가로 필요</span>합니다.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/corporate/team-member/event.js"></script>
</html>