@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: url("/static/font/Pretendard-Regular.subset.woff2") format(woff2);
}
@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: url("/static/font/Pretendard-SemiBold.subset.woff2") format(woff2);
}
@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: url("/static/font/Pretendard-Bold.subset.woff2") format(woff2);
}

/* 기본 */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif !important;
}
html {
    width: 100%;
    overflow-y: scroll;
}
body{
    background: #f3f5f7;

    width: 100%;
    color: #333;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 1;
}
li, ul {
    list-style: none;
}
a, img {
    display: block;
}
/* img {
    border: 0;
    vertical-align: top;
} */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-size: 100%;
}

a, a:link, a:visited {
    color: #666;
    text-decoration: none;
}
a, a:active, a:focus, a:hover, a:link, a:visited {
    color: #333;
    text-decoration: none;
}
address, caption, em {
    font-weight: 400;
    font-style: normal;
}

#wrap {
    position: relative;
    min-width: 1270px;
    margin: 0 auto;
    background: #f2f4f7;
}

/* 헤더 */
.corporate-header {
    position: relative;
    background: #323743;
}
.corporate-header>.inner {
    padding-top: 21px;
    padding-left: 20px;
    padding-right: 20px;
}

.inner {
    width: 1260px;
    margin: 0 auto;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.corporate-header .top-menu h1 {
    float: left;
}
.corporate-header .top-menu h1 a {
    width: 121px;
    height: 17px;
    background: url("https://i.jobkorea.kr/content/images/corporate/main_v2/logo_jobkorea.png");
}
.corporate-header .top-menu-list {
    float: right;
}
.corporate-header .top-menu-list>li {
    position: relative;
    float: left;
}
.corporate-header .top-menu-list>li>a {
    color: #e6e6e6;
    line-height: 17px;
}
.corporate-header .top-menu-list>li:nth-child(n+2) {
    margin-left: 25px;
}

.corporate-header .navigation {
    margin-top: 40px;
}
.corporate-header .navigation .left-menu {
    float: left;
}
.corporate-header .navigation .left-menu-list>li, .corporate-header .navigation .right-menu-list>li {
    position: relative;
    float: left;
}
.corporate-header .navigation .left-menu-list>li:first-child>a {
    padding-left: 0;
}
.corporate-header .navigation .left-menu-list>li .button-all-menu {
    padding-top: 20px;
    padding-bottom: 16px;
}
.corporate-header .navigation .left-menu-list>li>a {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
}
.corporate-header .navigation .left-menu-list>li>a, .corporate-header .navigation .right-menu-list>li>a {
    padding-top: 20px;
    padding-bottom: 21px;
}
.corporate-header .navigation .left-menu-list>li .button-all-menu i {
    display: inline-block;
    width: 22px;
    height: 16px;
    background: url("https://i.jobkorea.kr/content/images/corporate/main_v2/icon_menu.png") no-repeat 50%;
}
.corporate-header .navigation .left-menu-list>li .button-all-menu.active i {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 33 33'%3E%3Cg%3E%3Cg%3E%3Cpolygon fill='%23fff' stroke='%23fff' stroke-width='2' points='32.7,1.7 31.3,0.3 16.5,15.1 1.7,0.3 0.3,1.7 15.1,16.5 0.3,31.3 1.7,32.7 16.5,17.9 31.3,32.7 32.7,31.3 17.9,16.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
}
/* javascript: click 했을 때, active 클래스 추가 */

    /* nav 상세(미니 모달) */
.corporate-header .sub-nav {
    display: none;
    position: absolute;
    z-index: 334;
    left: 50%;
    transform: translate(-50%);
    padding: 12px 0;
    margin-top: -8px;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .08);
}
.corporate-header .sub-nav .category {
    width: 150px;
}
.corporate-header .sub-nav .category>ul>li a {
    padding-left: 16px;
    line-height: 36px;
    font-size: 14px;
}

    /* 잡코리아 인재 추천 메세지 css */
/* .corporate-header .navigation .left-menu-list>li .bubble, .corporate-header .navigation .left-menu-list>li .bubble:before {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.corporate-header .navigation .left-menu-list>li .bubble {
    display: inline-block;
    top: -11px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    padding: 0 8px;
    font-weight: 600;
    border-radius: 22px;
    background-color: #297fff;
}
.corporate-header .navigation .left-menu-list>li .bubble:before {
    content: "";
    border: 8px solid rgba(0, 0, 0, 0);
    border-top-color: #297fff;
    bottom: -13px;
} */

    /* 기업 이름 */
.corporate-header .navigation .right-menu {
    float: right;
}
.corporate-header .navigation .right-menu-list>li:last-child>a {
    padding-right: 0;
    display: flex;
    gap: 8px;
}
.corporate-header .navigation .right-menu-list>li>a {
    font-size: 16px;
    color: #fff;
    padding-left: 14px;
    padding-right: 14px;
}

/* sub-menu(모달) */
.corporate-header .all-menu-modal, .corporate-header .sub-nav-bg {
    display: none;
    position: absolute;
    left: 0;
    top: 136px;
    width: 100%;
    background: #fff;
    padding-top: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .0784313725);
}
.corporate-header .all-menu-modal.active {
    display: block;
}
/* javascript: click시 active 클래스 추가 */

/* .corporate-header .sub-nav-bg {
    display: none;
    min-height: 235px;
    z-index: 5;
} */
 .corporate-header .all-menu-modal {
    padding-bottom: 30px;
    /* min-height: 352px; */
    z-index: 333;
}
.corporate-header .all-menu-modal .inner {
    position: relative;

    height: 230px;
    width: 894px;
}
.corporate-header .all-menu-modal .category {
    float: left;
    width: 160px;
}
.corporate-header .all-menu-modal .category .title {
    padding-bottom: 14px;
    border-bottom: 1px solid #f0f0f0;
}
.corporate-header .all-menu-modal .category .title a {
    font-size: 15px;
    color: #1a1a1a;
    font-weight: 700;
}
.corporate-header .all-menu-modal .category>ul {
    margin-top: 12px;
}
.corporate-header .all-menu-modal .category>ul>li a {
    line-height: 32px;
}
.corporate-header .all-menu-modal .category:nth-child(n+2) {
    margin-left: 23.3px;
}
.corporate-header .all-menu-modal .category .sub-category {
    margin: 14px 0 0;
}
.corporate-header .all-menu-modal .category .sub-category>ul>li>ul>li>a {
    color: #6a6a6a;
}
.corporate-header .all-menu-modal .category>ul>li>ul>li>a {
    font-size: 12px;
    line-height: 26px;
}
.corporate-header .all-menu-modal .category>ul>li>ul>li>a:before {
    content: "·";
    display: inline-block;
    padding-left: 10px;
    padding-right: 7px;
}
.corporate-header .all-menu-modal .category .sub-category.margin-top {
    margin-top: 22px;
}
.corporate-header .all-menu-modal .write-button {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 160px;
    height: 45px;
    border-radius: 8px;
    background: #39f;
    line-height: 45px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.corporate-header .all-menu-modal .write-button:before {
    content: "";
    display: inline-block;
    vertical-align: sub;
    width: 19px;
    height: 23px;
    background: url("https://i.jobkorea.kr/content/images/corporate/main_v2/icon_add.png");
    background-size: 19px auto;
    margin-right: 9px;
}
.corporate-header .navigation .left-menu-list>li.active .sub-nav, .corporate-header .navigation .right-menu-list>li.active .sub-nav {
    display: block;
}
/* javascript: 마우스 올렸을 때, active 클래스 추가 */

.corporate-header .navigation .left-menu-list>li+.active-fixed>a:after, .corporate-header .navigation .left-menu-list>li+.active>a:after {
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    content: "";
    display: block;
    width: calc(100% - 40px);
    height: 5px;
    background: #b8ff00;
}
/*  */